script(src="/static/jquery/dist/jquery.min.js")
script(src="/static/angular/angular.min.js")
script(src="/static/bootstrap/dist/js/bootstrap.min.js")
script(src="/static/swiper/dist/idangerous.swiper.min.js")
script(src="/static/swiper-smooth-progress/dist/idangerous.swiper.progress.min.js")